AZURE_OPENAI_API_KEY="your-api-key"
AZURE_OPENAI_ENDPOINT="https://your-endpoint.openai.azure.com/"
OPENAI_API_VERSION="2025-04-01-preview"

# もしproxyを使用するなら
# https_proxy=http://127.0.0.1:3128
# no_proxy=localhost,127.0.0.1

# # LANGSMITH settings
# # see https://docs.smith.langchain.com/observability/how_to_guides/trace_without_env_vars
# LANGSMITH_TRACING="true"
# LANGSMITH_API_KEY="lsv2_pt_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
# LANGSMITH_PROJECT="azureopenai-langchain1"
